:root {
    background-color: #8ED081;
}

.accentColumn {
    background-color: #FFFEEE;
    width: 30em;
    margin-inline: auto;
    position: sticky;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.cream {
    background-color: #FFFEEE;
}

.green {
    background-color: #8ED081;
}

.darkgreen {
    background-color: #3C8D3F;
}

.shortinput {
    width: 40%;
    height: 30px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.input {
    display: block;
    width: 80%;
    height: 35px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.button {
    color: white;
}

.button:hover {
    background-color: #8ED081;
    color: black;
}

.google {
    background-color: white;
}

.google:hover {
    background-color: #e7e7e7;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}