.fira-code-custom {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 100; 
    font-style: normal;
  }
  

:root {
    background-color: #8ED081;
}

.accentColumn {
    background-color: #FFFEEE;
    width: 30em;
    margin-inline: auto;
    position: sticky;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.cream {
    background-color: #FFFEEE;
}

.green {
    background-color: #8ED081;
}

.darkgreen {
    background-color: #3C8D3F;
}

.shortinput {
    width: 45%;
    height: 38px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.input {
    display: block;
    width: 80%;
    height: 35px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.button {
    color: white;
}

.button:hover {
    background-color: #8ED081;
    color: black;
}

.google {
    background-color: white;
}

.google:hover {
    background-color: #e7e7e7;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px; 
    position: sticky;
    top: 0;
    left: 0;
    background-color: #8ED081;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.nav-links {
    display: flex;
    gap: 100px;
    margin-left: auto; 
    margin-right: 10%;
    font-size: 20px;
}

.nav-link {
    color: #000; 
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}
  
a {
    text-decoration: none;
    color: black;
}

.landing-title {
  font-size: 36px;
  font-weight: 100;
  color: #000;
  text-align: bottom;
  padding-left: 6%;
  margin-top: 200px;
}

body, .landing-title {
  font-family: 'Fira Code', monospace;
}

.landing-body {
  font-size: 20px;
  font-weight: 100;
  color: #000;
  text-align: bottom;
  padding-left: 6%;
  max-width: 35%;
  margin-top: 1%; 
}

.landing-logo {
  position: absolute;
  top: 200px; 
  right: 5%; 
  width: 30%; 
  height: auto; 
}
  
.recipe-info-card {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

.recipes {
  width: calc(70% - 40px);
  display: inline-block;
}

.filter {
  width: 30%;
  display: inline-block;
}

.branding {
  display: inline-block;
}

@media (max-width: 800px) {
  .filter {
    width: 100%;
    display: block;
  }

  .recipes {
    width: 100%;
    display: block;
  }

  .branding {
    display: none;
  }
}